/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.navbar-link:hover {
    color: #ddd;
}

.navbar-menu {
    position: relative;
}

.navbar-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar-button:hover {
    background-color: #0056b3;
}

.dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 160px;
    z-index: 1;
}

.dropdown-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.dropdown-link:hover {
    background-color: #f1f1f1;
}

.navbar-nav {
    display: flex;
    gap: 50px; /* Customize the spacing between items */
    justify-content: center;
    align-items: center;
}

.nav-item {
    text-align: center;
}