.feed {
    padding: 20px;
    background-color: #f8f8f8;
    max-width: 800px;
    margin: 0 auto;
}

.feed-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.feed-content {
    /* change this one if we want less space between each space */
    display: flex; 
    flex-direction: column;
    gap: 20px;
}

.tweet {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tweet-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.tweet-image {
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;

}

.tweet-actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

.tweet-action-btn {
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.like-btn {
    background-color: #34b7f1;
    color: white;
}


.delete-btn {
    background-color: #f44336;
    color: white;
}

.no-recipes-message {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
}

.show-more-btn {
    padding: 8px 12px;
    margin-top: 10px;
    font-size: 1rem;
    background-color: #34b7f1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.recipe-details {
    margin-top: 15px;
    font-size: 1rem;
    color: #333;
}

.recipe-details p {
    margin: 5px 0;
}

.show-more-btn {
    background-color: #8e44ad;
    color: white;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
}